@font-face
{
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face
{
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face
{
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a
{
  color: inherit;
  text-decoration: none;
}

.main-content
{
  display: flex;            /*флекс боксы для выстраивания сетки*/
  flex-direction: column;   /*позволяет указать направление в соответствии с которым располагаются флекс элементы внутри флекс контейнера*/
  justify-content: center;  /*определение пространства между и вокруг элементов контента вдоль главной оси флекс бокса*/
  align-items: center;      /*свойство для выравнивания элементов внутри контейнера по поперечной оси*/
  height: 100vh;            /*растягивание элемента на всю страницу*/
  background-color: #222020;
}
.header
{
  color: white;
  font-family:"Graphik LCG", sans-serif;
  margin-bottom: 30px;
}
.download
{
  padding: 20px;
  color: white;
  background-color: #2f1ce4;
  border: 3px solid #2f1ce4;
}
.program
{
  padding: 20px;
  color: white;
  background: transparent ;
  border: 3px solid white;
}
.container
{
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

}
.back
{
  background-position: left center;
  padding-left: 20px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-image: url('../img/return.png');

}

.first-H
{
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.heading
{
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px ;
  margin-bottom: 25px;
}

.list
{
  padding-left: 200px;
  font-size: 18px;
}

.paragraph
{
  padding-left: 180px;
  padding-bottom: 20px;
}
table
{
  margin-top: 100px;
}
.table td
{
  border: 1px solid black;
}

table
{
  border-collapse: collapse;
}

.table th td
{
  padding: 5px;
}

.figure
{
  padding-left: 200px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}
